
.features {
    width: 100%;
    color: white;
}

.container {
    position: relative;
    margin-top: 150px;
    width: 80%;
    margin: auto;
    font-family: "parg", serif;
}

.content {
    padding-top: 100px;
}

div.email {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 25px;
    background: #b3aaa4;
}
h4 {
    margin-top: 0;
}
div.dates {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 25px;
    background: #b3aaa4;
}
div.num-of-occupants {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 25px;
    background: #b3aaa4;
}
div.room_type {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
    background: #b3aaa4;
}
div.view {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
    background: #b3aaa4;
}
div.outdoors {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
    background: #b3aaa4;
}
div.beds {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 25px;
    background: #b3aaa4;
}

.option {
    padding-right: 40px;
}

.bttn {
    width: 50%;
    margin: auto;
}