/* fonts */
@font-face {
    font-family: "Title";
    src: url(../../resources/fonts/PlayfairDisplayi.ttf);
}
@font-face {
    font-family: "parg";
    src: url(../../resources/fonts/PlayfairDisplay.ttf);
}
@font-face {
    font-family: "special";
    src: url(../../resources/fonts/Updock-Regular.ttf);
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
body{
    background: var(--yellow2-color);
}
.container{
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
h1 {
    font-family: "title", serif;
}

h3 {
    font-family: "parg", serif;
    font-size: 50px;
}

p {
    font-family: "parg", serif;
    font-size: 30px;
}

.submit, button {
    cursor: pointer;
    justify-content: center;
    color: var(--yellow0-color);
    background: var(--brown4--color);
    font-size: 20px;
    user-select: none;
    padding: 10px;
    margin: 10px;
    width: 150px;
    transition: 0.05s;
    border-radius: 50px;
    backdrop-filter: blur(2px);
}

.header-link {
    text-decoration: none;
    color: var(--brown2-color);
}