:root {
    --blue0-color: #152636;
    --blue1-color: #014b56;
    --blue2-color: #057785;
    --blue3-color: #57b8bc;
    --blue4-color: #b4d2d3;
    --grey-color: #8b929a;
    --brown0-color: #7b5c52;
    --brown1-color: #8a7469;
    --brown2-color: #d6b09b;
    --brown3-color: #f6d8cb;
    --brown4--color: rgba(99, 88, 75, 0.283);
    --yellow0-color: #fdf7e4;
    --yellow1-color: rgb(255, 255, 235);
    --yellow2-color: linear-gradient(90deg, rgba(255, 250, 232, 0.568), rgba(255, 255, 255, 0));
}

/* Sidebar Component */
.sidebar {
    width: 240px;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: var(--blue0-color);
    padding-top: 20px;
}

.sidebar ul {
    height: 100%;
    list-style-type: none;
}

.sidebar ul li {
    display: block;
    border-bottom: 2px solid var(--grey-color);
    padding: 20px 0px;
}

.sidebar ul li a {
    display: block;
    height: 45px;
    text-decoration: none;
    line-height: 45px;
    color: #FFF;
    transition: .5s background ease-in-out;
    padding: 0 10px;
}

.sidebar ul li a i {
    vertical-align: middle;
    padding-right: 5px;
    transition: 0.3s;
}

.sidebar ul li:hover {
    background-color: var(--grey-color)
}

.sidebar ul li a:hover {
    padding-left: 25px;
}



