<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Main JS File -->
    <script src="../../global/template/template.js"></script>
    <!-- Render All Alements Normally -->
    <link rel="stylesheet" href="../../global/template/normalize.css" />
    <!-- Main Template CSS File -->
    <link rel="stylesheet" href="./Home.css" />
    <link rel="stylesheet" href="../../global/template/template.css" />
</head>
<body>
    <!--=============== Header ===============-->
    <div class="header" id="header">
        <div class="container">
            <div class="links">
                    <span id="icon" class="icon" onclick="showbar()">
                        <i class='bx bx-menu-alt-left'></i>
                    </span>
                <div class="items" id="items">
                        <span class="container">
                            <span><a href="../HomePage/index.php#home">Home</a></span>
                        </span>
                    <span class="container">
                            <span><a href="../HomePage/index.php#rooms">Rooms</a></span>
                        </span>
                    <span class="container">
                            <span><a href="../HomePage/index.php#dine">Dining</a></span>
                        </span>
                    <span class="container">
                            <span><a href="../HomePage/index.php#exp">Experience</a></span>
                        </span>
                    <span class="container">
                            <span><a href="../HomePage/index.php#loc">Location</a></span>
                        </span>
                    <span class="container">
                            <span><a href="../HomePage/index.php#about">About</a></span>
                        </span>
                </div>
                <span id='icon2' class="icon2" onclick="hidebar()">
                    <i class='bx bx-x'></i>
                </span>
                <i class='book' id="book"><a href="../booking/index.php">Book now</a></i>
                <ul id="bar">
                    <li><a href="../login/login.php"><i class='bx bxs-user'></i> Login</a></li>
                    <li><a href="../reservation/my%20reservations.php"><i class='bx bxs-bed'></i> My Reservations</a></li>
                    <li><a href="../reservation/rating.php"><i class='bx bxs-star'></i> Rate us</a></li>
                    <li><a href="../contactUs/index.php"><i class='bx bxl-gmail'></i> Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--=============== End Of Header ===============-->


    <!--=============== Body ===============-->


    <!--=============== End Of Body ===============-->


    <!--=============== Footer ===============-->
    <footer class='footer'>
        <div class='container p-4 pb-0'>
            <!-- Section: Social media -->
            <section class='github'><!-- Github -->
                <a href='https://github.com/Belal-Elsabbagh/Hurgada-GRND-Hotel' role='button'>
                    <img src='../../resources/img/icons/GitHub-Mark-Light-64px.png' width='32' alt='Our GitHub'> GitHub Repository
                </a>
            </section>
        </div>
         <!-- Section: Social media -->
        <!-- Copyright -->
        <div class='copyright'>
            &copy; 2022
            <span>MIU</span> All Rights Reserved
        </div>
        <!-- Copyright -->
    </footer>
    <span class="c-scroller_thumb"></span>
    <!--=============== End Of Footer ===============-->
</body>
</html>