<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HURGHADA-GRND-HOTEL</title>
    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Main JS File -->
    <script src="template.js"></script>
    <!-- Render All Alements Normally -->
    <link rel="stylesheet" href="./normalize.css" />
    <link rel="stylesheet" href="../css/style.css"/>
    <!-- Main Template CSS File -->
    <link rel="stylesheet" href="./template.css" />
</head>

<body>
    <!-- Header -->
    <div class="header" id="header">
        <div class="container">
            <div class="links">
                <span id="icon" class="icon" onclick="showbar()">
                    <i class='bx bx-menu-alt-left'></i>
                </span>
                <div class="items" id="items">
                    <span class="container">
                        <span>Home</span>
                    </span>
                    <span class="container">
                        <span>Rooms</span>
                    </span>
                    <span class="container">
                        <span>Dining</span>
                    </span>
                    <span class="container">
                        <span>Experience</span>
                    </span>
                    <span class="container">
                        <span>Location</span>
                    </span>
                    <span class="container">
                        <span>About</span>
                    </span>
                </div>
                <span id='icon2' class="icon2" onclick="hidebar()">
                    <i class='bx bx-x'></i>
                </span>
                <i class='book' id="book">Book now</i>
                <ul id="bar">
                    <li><a href="Profile"><i class='bx bxs-user'></i> Profile</a></li>
                    <li><a href="MyReservations"><i class='bx bxs-bed'></i> My Reservations</a></li>
                    <li><a href="RateUs"><i class='bx bxs-star'></i> Rate us</a></li>
                    <li><a href="ContacUs"><i class='bx bxl-gmail'></i> Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Of Header -->

    <!-- Body -->

    
    <div class="features">
        <div class="container">
            <div class="feat">
                <h1>Write Here</h1>
                <p>lmlksmvmslkmvdmvdflkvmf</p>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="container">
            <div class="feat">
                <h3>Write Here</h3>
                <p>lmlksmvmslkmvdmvdflkvmf</p>
            </div>
        </div>
    </div>

    <!-- End Of Body -->


    <!-- Footer -->
    <div class="footer">
        &copy; 2022
        <span>MIU</span>
        All Rights Reserved
    </div>
    <!-- End Of Footer -->

    <!-- Scroll Bar -->
    <span class="c-scroller_thumb"></span>
</body>

</html>