.features {
    position: relative;
    top: 80px;
    width: 100%;
    height: 100%;
    margin-top: 150px;
    margin-bottom: 200px;
}

table {
    background-color: var(--yellow2-color);
    border: 2px solid var(--brown0-color);
    border-collapse: collapse;
    width: auto;
    border-radius: 15px;
    margin: 20px;
}

th,
td {
    border: 2px solid var(--brown0-color);
    padding: 10px 30px 10px 30px;
}

td {
    height: 100%;
    text-align: center;
}