/* Variables */
:root{
    --blue0-color: #152636;
    --blue1-color: #014b56;
    --blue2-color: #057785;
    --blue3-color: #57b8bc;
    --blue4-color: #b4d2d3;
    --grey-color: #8b929a;
    --brown0-color: #7b5c52;
    --brown1-color: #8a7469;
    --brown2-color: #d6b09b;
    --brown3-color: #f6d8cb;
    --brown4--color:rgba(99, 88, 75, 0.283);
    --yellow0-color: #fdf7e4;
    --yellow1-color: rgb(255, 255, 235);
    --yellow2-color: linear-gradient( 90deg , rgba(255, 250, 232, 0.568), rgba(255, 255, 255, 0));
}


/* ________________________________________________________________________________________________ */

.features{
    position: relative;
    height: 100%;
}
.features >.container {
    position: relative;
    padding-top: 150px;
    width: 100%;
    margin: auto;
    font-family: "parg", serif;
    height: 90%;
}
.feat {
    width: 80%;
}
.content{
    position: relative;
    padding-top: 100px;
}
.titles{

    text-align: center;
}

#warning {
    color: red;
    font-size: small;

}

/* search_by_id*/
.search_by_id {

    position: absolute;
    width: fit-content;
    right: 79%;
    top: 15%;
    color: #7b5c52;

}

/* buttons*/
#submit, #submit_search {
    color: #ef5622;
    background-color: #e9c9b8;
    font-size: 110%;
    display: block;
    transition: 0.5s;
    border-radius: 3px;
    text-align: center;
    border: none;
    text-decoration: none;

}
.slidecontainer{
   
    width: 100%;
}
#comment{
    width: 50%;
    height: 10%;
    float: right;

}


/*hyper links*/
.temp {
    text-decoration: none;
    color:#7b5c52;
    background-color : #e9c9b8;
    font-size:110%;
    display:block;
    transition: 0.5s;
    width: 110%;
    padding-right: 10%;

}
.temp2{
    text-decoration: none;
    color:#7b5c52;;
    background-color : #e9c9b8;
    font-size:110%;
    display: block;
    transition: 0.5s;
    width: 130%;
    border-radius: 3px;
    text-align: center;
 
}
 .temp:hover, #submit:hover, .temp2:hover{

    color:#ffffff;;
    background-color : #057785;
    
}
/*paragraph*/
.paragraph{
    font-family: "parg";
    font-size: larger;
}

/*table*/

table {

    position: absolute;
    top: 40%;
    right: 10%;
    border: 2px solid #cca28c;
    border-collapse: collapse;
    width: 80%;

}
 td{
     padding:15px;
    color:#152636;
    font-size: 100%;
    text-align: center;
    border: 2px solid #cca28c;
 
 }
 tr{
    
    border: 2px solid #cca28c;
    font-size: 100%;
    width: 10%;
   
  
 }

 th{
    color: #a0755f;
    border: 2px solid #cca28c;
    font-size: 120%;
   
 }
